<!-- INÍCIO DO CONTEÚDO -->
     <section class="content-header"></section>
     <section class="content">
       <div *ngIf="!authService.isLoggedIn()" class="jumbotron welcome-jumbotron">
          <h1>Bem vindo ao ELEHELP!</h1>
          <p>
            Está com lixo Eletrônico? Solicite recolhimento.
          </p>
         <p>
          Por Favor, é necessário que se faça login para prosseguir.
        </p>
         <div  class="form-group">
          <button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
            Login with Facebook
          </button>
          <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            Login with Google
          </button>
          </div>   
       </div>

       <div *ngIf="authService.isLoggedIn()" class="jumbotron welcome-jumbotron">
          <h1>Bem vindo ao ELEHELP!</h1>
          <p>
            Está com lixo Eletrônico? Solicite recolhimento.
          </p>

          <div  class="form-group">
              <a class="btn btn-primary btn-lg" [routerLink]="['/eletronicos']">Tipos de Eletrônicos</a>
          </div> 
       </div>
     </section>
<!-- FIM DO CONTEÚDO -->