<br><br>
<div class="card">
    <div class="card-body">
      <h6 class="text-center">
        Lista de Tipos de Eletrônicos
      </h6>
      <table class="table table-sm table-hover">
        <tbody>
          <tr *ngFor="let tipo of tipoList">
            <td>{{tipo.name}}</td>
            <td>{{tipo.category}}</td>
            <td>{{tipo.about}}</td>
            <td>{{tipo.hours}}</td>
            <td>
              <a class="btn btn-warning text-white" (click)="onEdit(tipo)">
                  <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-dark text-white" (click)="onDelete(tipo.$key)">
                  <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>