<!-- INÍCIO DO CONTEÚDO -->
    <section class="content-header">
      <h1>Sobre</h1>
    </section>

    <section class="content">
        <p class="lead">
          ELEHELP | Aplicação que faz a solicitação de recolhimento
        </p>
        <p class="lead">
          Utilizado o template MEAT para a utilização de estilos e design da página.
        </p>
        <p class="lead">
          Projeto da disciplina de PAVI - Programação Avançada para Internet. Grupo constituído por Nicholas Torres, Estevão Gabriel e Lukas Carvalho. Projeto voltado a sustentabilidade, em que um dos maiores problemas das empresas que recolhem o lixo eletrônico, são a de receber os pedidos de recolhimento, e não ser cobrado nada para a retirada dos mesmos.
        </p>
        <p class="lead">
          Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
        </p>
      </section>
